@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared styles */
.display-flex {
  display: flex;
} 
/* Header background color  */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* Dark 1 */
.dark1{

    color: #131313;
}

.dark2{
    color:#424242;
}
.dark3{
   color: #727272; 
}

/* button */
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding:1.2rem 1.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;

}


/* Header styles */

.nav-iteam{
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 500;
}
.nav-links{
  display: flex;
 
}
.nav-link{
  text-decoration: none;
   
}

.navbar{
  justify-content: space-around;
  align-items: center;
}
.brand{
  font-size: 3rem;
  font-weight: bold;
}

/* Banner */
.banner{
  text-align: center;

}
.banner-content{
  max-width: 850px;
  margin: 0 auto  ;
  text-align: center;
margin-bottom: 50px;
  
}
.banner-title{
  font-size: 4rem;
  font-weight: bold;
}
.banner-description{
  font-size: 1rem;

  
}
.banner-image{
  max-width: 100%;
}

/* Man section 1 */

.teams{
  align-items: center;
}

main{
  max-width: 1440px;
  margin: 0 auto;
}
.team-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 85px;
}

.our-features{
  margin-left: 130px;
  max-width: 535px;
}
.feature-title{
  font-size: 3rem;
}

.eature-discreaption{
  font-weight: regular;
  font-size: 1rem;
}
/* Feactures 2 */
.features{
  margin-top: 90px;
  gap: 140px;
}
.features2-title{
  font-size: 3rem;
  font-weight: bold;
}
.features2-description{
  font-size: 1rem;
  font-weight: regular;
}

.card-title{
  font-size: 1.25rem;
  font-weight: 600;
  
  margin-top: 0px;
  margin-bottom: 0px;
}
.features-card{
  border:0 4px 30px 0 rgba(0, 0, 0, 0.06) ;
  margin-bottom: 20px;
  border-radius: 8px;
  margin-top: 50px;
  padding: 30px;
  background-color: rgb(236, 236, 236);
}
.card-description{
 font-size: 16px;
}
.button2{
  background-color: #FF900E;
  color: white;
  padding:1.2rem 1.5rem;
  border: none;
  padding: 45px;;
  border-radius: 8px;
  margin-left: -92px;
  margin-top:-100px ;
 
}
.exp-year{
  font-size: 4rem;
  font-weight: bold;
}
.exp{
  font-size: 1.5rem;
  font-weight: 500;
}
/* Some Fects */
.some-fect-title{
  font-size: 3rem;
  font-weight: bold;
}
.some-fect-description{
  font-size: 1rem;
  font-weight: regular;
  max-width: 540px;
}
.fact-number{
  font-size: 3rem;
  font-weight: semibold;
  margin-top: 5px;
  margin-bottom:10px ;
}
.fact-title{
  font-size: 1.25rem;
  font-weight: semibold;
  margin-top: 10px;
  
}
.fact{
  border: 1px solid #FF900E;
  border-radius: 8px;
  width: 240px;
  height: 240px;
   text-align: center;
  align-items: center;
  justify-content: center;
 


}
.fect-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}



/* Our Sponsors */

.sponsor-info{
  max-width: 540px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  margin-top: 180px;
}
.sponsor-title{
  font-size: 3rem;
  font-weight: bold;
}
.sponsor-description{
  font-size: 1rem;
  font-weight: regular;
  
}

.sponsor-company{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 100px;
}


/* responsive the navbar */
@media screen and (max-width:567px) {
  .navbar, .nav-links,.teams{
    flex-direction: column;
    gap: 20px;
  }
  .team-image,.sponsor-company{
    grid-template-columns: repeat(1,1fr);
  }
  .our-features{
    margin-left: 20px;
  }
  .fect-container{
    grid-template-columns: repeat(1,1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sponsor-company{

     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .features{
    flex-direction: column;
    gap: 20px;

  }

.exp-img{
   
  width: 100%;
 
 
}
  
}
.button2{
  background-color: #FF900E;
  color: white;
  padding:10PX;
  border: none;
  padding: 25px;;
  border-radius: 8px;
}
.exp-year{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
 
